<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
</head>
<body>
    <h1>Update Data</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" value="{{data.name}}"><br><br>
        <input type="number" name="age" value="{{data.age}}"><br><br>
        <input type="email" name="email" value="{{data.email}}"><br><br>
        <input type="number" name="mobile" value="{{data.mobile}}"><br><br>

        <button type="submit">Update</button>
        <a href="{% url 'showdata' %}">Show data</a>
        

    </form>
    
</body>
</html>