<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>context demo</title>
</head>
<body style="background-color: skyblue;">
    <h1>welcome to context demo</h1>
    <hr>
    <!--<div><h2>hello....{{name}} : {{num}} : {{counter}} : {{nm}}</h2></div>-->
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="enter user name">
        <button type="submit">submit</button>
    </form>
    <h2>welcome: {{name}}</h2>
    
</body>
</html>